n8n/workflow.json
{
  "name": "School-Fee-Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a27520ed-f593-4009-9077-ea9beba22b83",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://opensheet.elk.sh/1EnSm4Fe7CKA4ylDR_8IJBH0RYufFAONQQJGN0Nuvpts/Sheet1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "22f57f35-33a7-49ef-88cc-ee155825b61d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts//Messages.json\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "=whatsapp:+{{ $json.Parent_Phone }}"
            },
            {
              "name": "Body",
              "value": "=Zumbani Primary: Fees for {{ $json.Student__Name }} ${{ $json.Amount_Due }} due {{ $json.Due_Date }}. EcoCash 0771234567"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "5b5165e0-ce75-4eda-8592-f69274cee64a",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "zctfrAB4D0k3l6s3",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7e150600-9874-4aef-b214-09a43ba93926",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6be9cfdf86f84c3aa19875015a230ad45c43c1360296b6ebf3057165440f0c88"
  },
  "id": "MPX2wqTMeVIpVMmX",
  "tags": []
}
